https://tinyurl.com/Satyam-tutorial-03

Go to `File` -> `Save a copy in Drive`

Topics:

1. Loops
2. Functions

## Pattern Questions

```
Hollow Square:
****
*  *
*  *
****

```
1.  *
    **
    ***
    ****
    *****
    ****
    ***
    **
    *

Hint:
    if (row_number > N):
       col = 2*N - row
    else:
       col = row

```
2.       *
        * *
       * * *
      * * * *
     * * * * *
      * * * *
       * * *
        * *
         *


Hint: number_spaces = n - col_number

```
Homework Question

3.          1
          2 1 2
        3 2 1 2 3
      4 3 2 1 2 3 4
    5 4 3 2 1 2 3 4 5

Hint: Try not to use zero index, when we have numbers

## More Loop Questions (Create all this in form of a function) Simple + No Mathematics

1. Calculate the sum of numbers from 1 to n (default n=100) using a while loop.

In [ ]:
def sum_upto_n(n):
  sum = 0
  i = 0
  while i<=n:
    sum += i
    i+=1
  return sum

sum_upto_n(100)

5050

2. Count the number of vowels in a string using a for loop

In [ ]:
vowels = "AEIOUaeiou"
s = "Hello"
count = 0

for character in s:
  if character in vowels:
    count += 1

print(count)

2

In [ ]:
def count_vowel(s):
  count = 0
  for c in s:
    if c in "AEIOUaeiou":
      count+=1
  return count

count_vowel("Hello")

2

In [ ]:
s = input("Enter the string: ")

count_vowel(s)

Enter the string: Satyam

2

3. Find the largest number in a list using a for loop

In [ ]:
ls = [4,5,6,9,-4]

max(ls)

9

In [ ]:
ls = [2,5,6,8,0]

maximum_number = -86455213 #Any random number


for i in ls:
  if i > maximum_number:
    maximum_number=i

print(maximum_number)

8

4. Print numbers from 1 to n, except those divisble by 3 using a for loop and continue statement.

In [ ]:
n = 10

for i in range(1,n+1):
  if i%3==0:
    continue
  print(i, end=", ")

1, 2, 4, 5, 7, 8, 10,

5. Print numbers in a list until a negative number is encountered using a while loop

6. Find the common elements in two lists using a for loop

7. Write a Python program to count the number of even and odd numbers in a series of numbers